.app{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

.slick-list {
    z-index: -1;
}

.caption {
    font-size: 4vw;
    position: absolute;
}

.bannerSize{
    width:100%;
}

@media screen and (min-width: 300px) {
    .bannerSize{
        height:190px
    }

    .caption {
        margin-left: 1.4rem;
        top: 2rem;
        background:rgba(255,255,255,0.5);
        padding:15px;
    }

    .slick-prev{
        display: none!important;
    }

    .slick-next{
        display: none!important;
    }

    .header-button{
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .header-button-grid{
        padding:12px 0!important;
    }

    .button-header{
        width:100%;
        height:3rem!important;
        color:white!important;
        padding: 0px!important;
        border: none!important;
        font-size: 1.6vh;
        border-radius: 0!important;
    }

    .button-header-per{
        background-color:#C4161C!important;
        margin-left: 12px!important;
    }

    .button-header-biz{
        background-color:#828F97!important;
        margin-right: 12px!important;
    }

    .header-button-left{
        display: flex;
        justify-content: flex-end;
        box-shadow: none!important;
        justify-content: flex-end;
        background-color:transparent!important;
    }

    .header-button-outer{
        height:3rem;
        padding-top:0.8rem!important;
        background:rgba(000,000,000,0.5)!important;
    }

    .header-button-right{
        display: flex;
        box-shadow: none!important;
        justify-content: flex-start;
        background-color:transparent!important;
    }
}

@media only screen and (min-width : 500px) {
    .slick-prev{
        left:3rem!important;
        display: block!important;
    }

    .slick-next:before, .slick-prev:before {
        font-size: 28px!important;
    }

    .slick-next{
        right:3rem!important;
        display: block!important;
    }

    .bannerSize{
        height:auto
    }

    .caption {
        margin-left: 6rem;
        font-size: 2.5vw;
        position: absolute;
        top: 5rem;
        background:transparent;
    }

    .header-button-grid{
        padding:12px !important;
    }

    .header-button{
        position: relative;
        top: -7em;
    }

    .button-header{
        width:21vw;
        height: 6vh!important;
        color:white!important;
        padding: 0px!important;
        border: none!important;
        font-size: 1.6vh!important;
    }

    .button-header-per{
        background-color:#C4161C!important;
    }

    .button-header-biz{
        background-color:#828F97!important;
    }

    .header-button-left{
        display: flex;
        box-shadow: none!important;
        justify-content: flex-end;
        background-color:transparent!important;
    }

    .header-button-outer{
        height:6vh!important;
        padding-top:0.7em!important;
        background:rgba(000,000,000,0.5)!important;
    }

    .header-button-right{
        display: flex;
        box-shadow: none!important;
        justify-content: flex-start;
        background-color:transparent!important;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {

    .caption {
        top: 4rem;
    }

    .button-header{
        height: 4.5vh!important;
        font-size: 1.3vh!important;
    }

    .header-button-outer{
        height: 4.5vh!important;
        padding-top:0.85em!important;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    .caption {
        top: 4rem;
    }

    .button-header{
        height: 6.5vh!important;
        font-size: 2.1vh!important;
    }

    .header-button-outer{
        height: 6.5vh!important;
    }
}

